extends ./layouts/mainContent.pug
block content
  h1 hello
  form(action="/users/search", method="GET")
    input(type="text", name="q")
    button Serach
  img(src="/images/logo.png", alt="anh logo")